.services {
    
    
    padding: 200px;
    .container {
        max-width: 1230px;
        margin: 0 auto;
      }
    &__title {
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
        span {
            color: #E32652;
        }
        text-align: center;
    }
    &__content {
        display: flex;
        padding: 115px 0 0 0;
        align-items: center;
        position: relative;
        .yellow_bg {
            position: absolute;
            top: -170px;
            left: 170px;
        }
    }
    &___info {
        
    }

    &__info_title {
        font-size: 3rem;
        font-weight: 500;
        color: #fff;
    }
    &__info_text {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 30px;
    }
    &__info_selects {
        margin-top: 92px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__info_select {
        color: #fff;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__btn {
        width: 237px;
        height: 80px;
        background: none;
        padding: 20px 20px;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        border: 1px solid #D9D9D9;
        border-radius: 45px;
        color: #fff;
        font-size: 1.5rem;
        margin-top: 100px;
        transition: 0.2s ease-in-out;
        &:hover {
            background: #1a1919;
            transition: 0.2s ease-in-out;
            img{
                transform: translate(5px, -5px);
                transition: 0.2s ease-in-out;

            }
        }
    }
}